tensorflow==2.12.0
pandas 
dvc
mlflow==2.2.2
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML~=6.0.1
tqdm
ensure==1.0.2
joblib~=1.3.2
types-PyYAML
scipy
Flask
Flask-Cors
gdown
-e .
kdcnnClassifier~=0.0.0
setuptools~=65.5.0